.navbar li a :hover {
    background-color:white;

}
.navbar > li {
    float: left;
}
.navbar li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}
.navbar li:hover > ul{
    display: block;
}
.sproduct{
    display: flex;
    justify-content: space-between;
}
/*.sproduct {
    background: hsl(39, 85%, 56%);
    text-align: center;
    display: block;
}*/
.sproduct h1 {
    color: blue;
    background: aliceblue;
}

.container .row .col-md-12:hover{
    background-color: rgb(245, 248, 68);
    border-radius: 5%;
}
#chompa {
    background: hsl(39, 85%, 56%);
    text-align: center;
    display: block;
    cursor: pointer;
   
    
}
#aretes {
    background: hwb(14 44% 15%);
    text-align: center;
    display: block;
    cursor: pointer;
   
    
}

#polos {
    background: hsl(305, 84%, 70%);
    text-align: center;
    display: block;
    cursor: pointer;
    
    
}
.img-fluid{
    border-radius: 5%;
    background-position: 5%;
    
}
.footer{
    background-color: mediumblue;
    padding: 10px 10px;
    margin: 5px 5px;
}
.footer img {
    position: relative;
    padding: 10px 10px;
    width: auto;
    height: auto;
    max-height: 100px;
    
   
    
}

.Contacto{
    
    background: wheat;
    
}
.footer .Contacto p {
    
    background: wheat;
    
}
.footer #logo {
    display: block;
    justify-content: center;
    text-align: center;
}

p {
    padding: 0;
    background: white;
    color:blue;
    border: 1px solid #fce29f;
    border-radius: .2em;
}
  
